<div class="col-md-6 offset-md-3">
  <h3>Update movie</h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Movie name</label>
      <input type="text" class="form-control" id="movieTitle"
             [(ngModel)]="movie.title" name="movieTitle">
    </div>

    <div class="form-group">
      <label>Movie length</label>
      <input type="text" class="form-control" id="movieTag"
             [(ngModel)]="movie.tag" name="movieTag">
    </div>
    <button class = "btn btn-success" type="submit">Submit</button>
  </form>
</div>
