<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title> Menu - bacground main page</title>
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>
<div class="container">
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>01</h2>
      <h3>Lepsze ASO</h3>
      <p>Projekt nad którym teraz pracuje. Dzięki temu naucze się nowych, super, ciekawych rzeczy. Coraz bardziej zaczyna mi sie podobać programowanie, cieszy mnie to :)</p>
      <a href="#">Zobacz projekt</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>02</h2>
      <h3>Comming soon</h3>
      <p>Wkrótce wiecej informacji.</p>
      <a href="#">Zobacz projekt</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>03</h2>
      <h3>Comming soon</h3>
      <p>Wkrótce wiecej informacji.</p>
      <a href="#">Zobacz projekt</a>
    </div>
  </div>
</div>
</body>
</html>
