<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title> Menu - bacground main page</title>
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>
<div>
</div>
<div class="container">
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>01</h2>
      <h3>Moje konto</h3>
      <p>Miejsce, gdzie możesz znaleźć ustawienia</p>
      <a href="#">Moje konto</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>02</h2>
      <h3>Poleć mi film</h3>
      <p>Miejsce, gdzie pomożemy Ci wybrać film.</p>
      <a href="/algorithms">Poleć mi film</a>
    </div>
  </div>
  <div class="card">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
      <h2>03</h2>
      <h3>Filmy</h3>
      <p>Filmy gdzie znajdują się wszystkie filmy na naszej stronie.</p>
      <a href="/movies">Baza danych</a>
    </div>
  </div>
</div>
</body>
</html>
