
<h2> Car list</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Car mark</th>
    <th>Car model</th>
    <th>Car type</th>
    <th>Car power</th>
    <th>Car generation</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars">
    <td>{{ car.carMark}}</td>
    <td>{{ car.carModel}}</td>
    <td>{{ car.carType}}</td>
    <td>{{ car.carPower}}</td>
    <td>{{ car.carGeneration}}</td>
    <td>
      <button (click)="updateCar(car.carId)" class="btn btn-info">Update</button>
      <button (click)="deleteCar(car.carId)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
    </td>

  </tr>
  <a routerLink="create-cars" routerLinkActive="active" class ="btn btn-success">Add Car</a>
  </tbody>
</table>
