<div class="col-md-6 offset-md-3">
  <h3>Add car</h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label>Car mark</label>
      <input type="text" class="form-control" id="carMark"
             [(ngModel)]="car.name" name="carMark">
    </div>
    <div class="form-group">
      <label>Car model</label>
      <input type="text" class="form-control" id="carModel"
             [(ngModel)]="car.lastName" name="carModel">
    </div>

    <button class = "btn btn-success" type="submit">Submit</button>
  </form>
</div>
